.App {
  text-align: center;
  background-image: url('/src/assets/t.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
  height: auto;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 
.header {
  align-items: center;
  justify-content: center;
  color: #73a4e4;
  display: flex;
  background-image: url('/src/assets/f.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
} */

.bottomLinks {
  width: 30%;
}

.footer {
  background-color: lightslategrey;
  padding: 15px;
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: auto;
}

/* html,
body,
#root {
  height: 100%;
} */

.form {
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.posts {
  height: 100%;
  background-color: white;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 50px; */
}
